@use "../utils/index" as *;

[theme="dark"] {
  html,
  body {
    background-color: var(--gv-secondary-dark);
  }
}

html,
body {
  height: 100%;
}

#__nuxt,
#__layout {
  height: inherit;
}

#main,
#login,
#__nuxt,
#content,
#__layout,
#container {
  min-height: 100%;
}

#content {
  @include d-flex;
  @include flex(1 0 auto);

  & > .container,
  & > .container > .row {
    min-height: calc(100% - 60px);
  }
}
