[theme="dark"] {
  html,
  body {
    background-color: var(--gv-secondary-dark);
  }
}

html,
body {
  height: 100%;
}

#main,
#login,
#__nuxt,
#content,
#__layout,
#container {
  height: inherit;
}
