#main {
  display: flex;
  flex-direction: column;

  .page-enter-active {
    transition: all 0.2s ease;
  }
  .page-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
