@use "../utils/index" as *;

#main {
  @include d-flex;
  @include flex-direction(column);

  .page-enter-active {
    @include transition(all 200ms ease);
  }

  .page-leave-active {
    @include transition(all 200ms cubic-bezier(1, 0.5, 0.8, 1));
  }

  .page-enter,
  .page-leave-to {
    opacity: 0;
    @include transform(translateY(-100px));
  }

  #footer {
    background-color: var(--gv-secondary-light);

    & > .content {
      width: 100%;
      font-size: $font-size * 0.875;

      & > * {
        height: 60px;
        line-height: 1;
        vertical-align: middle;

        a {
          vertical-align: middle;
          margin-left: $default-distance * 0.25;
        }
      }
    }
  }
}
