@use "../utils/index" as *;

.product-book {
  &.sold-out {
    opacity: 0.5;
    pointer-events: none;
  }

  & > .gv-content {
    height: 150px;
    @include flex-direction(row !important);

    & > .thumbnail {
      width: 110px;
      height: 187px;
      padding: 0 !important;

      & > * {
        display: block;
        height: inherit;

        & img {
          object-fit: cover;
        }
      }
    }

    & > .side {
      @include d-flex;
      @include flex(1);
      @include flex-direction(column);
      padding: $default-distance * 0.5 !important;

      & > .info {
        @include d-flex;
        @include flex(1);
        @include flex-direction(column);

        & > .title {
          font-weight: 500;
          line-height: 1.35;
          font-size: $font-size * 0.875;
        }

        & > .product-discount {
          margin-top: auto;
        }
      }

      & > .control {
        gap: 0.5em;
        @include d-flex;
        @include justify-content(flex-end);

        & > .product-count {
          @include flex(1);
        }
      }
    }
  }
}
