@use "../utils/index" as *;

.product-book {
  &.sold-out {
    opacity: 0.5;
    pointer-events: none;
  }

  & > .gv-content {
    height: 150px;
    @include flex-direction(row !important);

    & > .thumbnail {
      width: 110px;
      height: inherit;
      position: relative;
      padding: 0 !important;
      
      & > .gv-image {
        display: block;
        height: inherit;
        max-height: 100%;

        & img {
          object-fit: cover;
        }
      }

      .wishlist-icon {
        cursor: pointer;
        font-size: $font-size * 1.5;
        text-shadow: 0 1px 0 var(--gv-color-dgray);
      }
    }

    & > .side {
      @include d-flex;
      @include flex(1);
      @include flex-direction(column);
      padding: $default-distance * 0.75 !important;

      & > .info {
        @include d-flex;
        @include flex(1);
        @include flex-direction(column);
        margin-bottom: $default-distance * 0.5;

        & > .title {
          font-weight: 300;
          line-height: 1.35;
          @include line-clamp(2);
          font-size: $font-size * 0.875;
        }

        & > .product-discount {
          margin-top: auto;
        }
      }

      & > .control {
        gap: 0.5em;
        @include d-flex;
        @include justify-content(flex-end);

        & > button {
          @include flex(1);
        }
      }
    }
  }
}
