@use "../utils/index" as *;

.product-count {
  height: 32px;
  @include d-inline-flex;
  @include align-items(center);
  @include border-radius($border-radius);
  border: 1px solid var(--gv-color-border);
  background-color: var(--gv-secondary-light);

  input {
    border: 0;
    flex-grow: 1;
    text-align: center;
    background: transparent;
    -moz-appearance: textfield;
    color: var(--gv-color-font);
  }

  i {
    cursor: pointer;
    line-height: initial;

    &:first-child {
      padding-left: $default-distance * 0.5;
    }

    &:last-child {
      padding-right: $default-distance * 0.5;
    }
  }
}
