@use "../utils/index" as *;

.product-discount {
  @include d-flex;
  @include align-items(center);
  @include justify-content(center);
  padding: $default-distance * 0.5;

  & > span {
    &.currency {
      font-weight: 500;
      font-size: $font-size * 0.875;
      margin-right: $default-distance * 0.5;
    }

    &.price {
      font-weight: 600;
      font-size: $font-size * 1.5;

      &.crossed {
        font-weight: 300;
        font-size: $font-size * 0.875;
        text-decoration: line-through;
        margin-right: $default-distance * 0.5;
      }
    }

    &.discount {
      font-weight: 900;
      color: var(--gv-accent);
      font-size: $font-size * 1.5;
    }
  }
}
