@use "../utils/index" as *;

.product-info {
  text-align: center;
  @include d-inline-flex;
  vertical-align: middle;
  @include align-items(center);
  @include justify-content(center);
  margin-right: $default-distance * 0.35;

  &:first-child {
    margin-left: $default-distance * 0.35;
  }

  & > .wrapper {
    height: 100px;
    min-width: 80px;
    @include d-flex;
    @include user-select-none;
    @include flex-direction(column);
    @include justify-content(center);

    & > .icon {
      line-height: 1.5;
      font-size: $font-size * 1.5;
    }

    & > .title {
      font-weight: 700;
      white-space: initial;
      text-transform: uppercase;
      font-size: $font-size * 0.75;
    }

    & > .footnote {
      white-space: initial;
      text-transform: uppercase;
      font-size: $font-size * 0.675;
    }
  }
}
