@use "../utils/index" as *;

.product-info {
  text-align: center;
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  // border-radius: $border-radius;
  padding: $default-distance * 0.5;
  // background-color: var(--gv-secondary);

  &:not(:last-child) {
    margin-right: $default-distance * 0.5;
  }

  & > .wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $border-radius;
    background-color: var(--gv-secondary-light);

    & > .icon {
      font-size: $font-size * 2;
    }

    & > .title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: $font-size * 0.75;
    }

    & > .footnote {
      white-space: initial;
      text-transform: uppercase;
      font-size: $font-size * 0.675;
    }
  }
}
