@use "../utils/index" as *;

.section-page {
  width: 100%;
  @include d-flex;
  @include flex-direction(column);
  margin-top: $default-distance * 0.75;

  .section-header {
    margin-top: 60px;
    margin-bottom: $default-distance;

    .section-title {
      @include d-flex;
      @include flex-wrap(wrap);
      @include align-items(center);

      & > span {
        font-weight: 600;
        font-size: $font-size * 1.5;
        margin-bottom: $default-distance * 0.5;
      }

      .section-action {
        width: 100%;

        .gv-field {
          margin: 0;
        }
      }
    }
  }

  .section-filter {
    margin-bottom: $default-distance;
  }

  .section-content {
    flex: 1;
    @include d-flex;
    min-height: inherit;
    @include flex-direction(column);
  }
}

@media (min-width: $media-sm) {
  .section-page {
    .section-header {
      .section-title {
        & > span {
          margin-bottom: 0;
        }

        .section-action {
          width: auto;
          margin-left: auto;
        }
      }
    }
  }
}
