@use "../utils/index" as *;

#login {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/login-background-image.jpg");

  .login-container {
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    overflow: hidden;
    padding: $default-distance;
    border-radius: $border-radius * 3;
    margin: 0 $default-distance * 0.75;
    background-color: var(--gv-color-theme);
    // border: 1px solid var(--gv-color-border);
    // box-shadow: 1px 10px 5px var(--gv-color-overlay-dark);

    .login-header {
      margin-bottom: $default-distance;

      .brand {
        margin: 0 auto;
        text-align: center;
        margin-top: $default-distance * 0.5;
        margin-bottom: $default-distance * 1.5;
        max-width: calc(100% - #{$default-distance});

        // img {
        //   filter: invert(1) brightness(1);
        // }
      }
      .title {
        font-weight: 600;
        line-height: initial;
        font-size: $font-size * 0.75;
      }

      .message {
        font-weight: 900;
        line-height: initial;
        font-size: $font-size * 1.25;
      }
    }

    .login-content {

      form {
        a {
          font-size: $font-size * 0.75;
        }
      }

      .footnote {
        display: block;
        text-align: center;
        font-size: $font-size * 0.875;
        margin-top: $default-distance * 0.75;

        a {
          font-size: inherit;
        }
      }
    }

    .login-footer {
      text-align: center;
      padding: 0 $default-distance;
      .message {
        font-size: $font-size * 0.75;
        margin-top: $default-distance * 1.5;
      }
    }
  }
}
